/*Navigationsleistendesign*/

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    border-radius: 5pt;
}

li {
    display: inline;
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: white;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li#current a:link {
    background: grey;
    color: black;
}

li#current a:visited {
    background: grey;
    color: black;
}